@media only screen and (min-width: 1283px) {
    .title-skills {
        font-size: 55px;
    }
}

@media only screen and (min-width: 1860px) {
    .title-skills {
        font-size: 60px;
    }
}

@media only screen and (max-width: 1050px) {
    .container-cards-in-skill-page {
        row-gap: 80px;
    }
}

@media only screen and (max-width: 1050px) {
    .container-cards-in-skill-page {
        row-gap: 70px;
    }
}

@media only screen and (max-width: 870px) {
    .container-cards-in-skill-page {
        row-gap: 60px;
    }
}

@media only screen and (max-width: 840px) {
    .container-cards-in-skill-page {
        row-gap: 15px;
    }
}

@media only screen and (max-width: 840px) {
    .container-cards-in-skill-page {
        grid-template-columns: repeat(3, 30%);
    }
}

@media only screen and (max-width: 560px) {
    .container-cards-in-skill-page {
        grid-template-columns: repeat(2, 40%);
        row-gap: 30px;
    }
}

@media only screen and (max-width: 440px) {
    .container-cards-in-skill-page {
        grid-template-columns: repeat(1, 250px);
    }
}