html {
    scroll-behavior: smooth;
}

.container-cards-in-skill-page{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 22%);
    width: 100%;
    justify-content: space-evenly;
    row-gap: 100px;
}

.title-skills{
    color: white;
    font-family: Neo;
    margin-top: 100px;
    font-size: 40px;
}

*{
    -webkit-tap-highlight-color: transparent;
}