.conatiner-header {
    width: 55vw;
    height: 350px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.158);
    margin-top: -475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.my-name {
    color: white;
    font-family: Neo;
    text-align: center;
    letter-spacing: 2px;
    font-size: 45px;
    margin-top: 0;
}

.container-tech {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.my-tech {
    font-family: Neo;
    text-align: center;
    letter-spacing: 2px;
    font-size: 40px;
    color: #6F61C0;
    margin-top: -27px;
}

.container-btns-header {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn-hire {
    border: none;
    font-family: Neo;
    color: white;
    background-color: #6F61C0;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    width: 140px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-hire:hover {
    transform: translateY(-5px);
}

.btn-get-resume {
    border: 2px solid #6F61C0;
    font-family: Neo;
    color: #6F61C0;
    background-color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    width: 140px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-get-resume:hover {
    transform: translateY(-5px);
}