@media only screen and (min-width: 690px) {
    .conatiner-header {
        height: 200px;
        margin-top: -420px;
    }
}

@media only screen and (min-width: 900px) {
    .conatiner-header {
        height: 240px;
        margin-top: -440px;
    }
}

@media only screen and (min-width: 1090px) {
    .conatiner-header {
        height: 260px;
        margin-top: -460px;
    }
}

@media only screen and (min-width: 1275px) {
    .conatiner-header {
        height: 280px;
        margin-top: -470px;
    }
}

@media only screen and (min-width: 1400px) {
    .btn-hire {
        width: 180px;
        font-size: 22px;
    }
    
    .btn-get-resume {
        width: 180px;
        font-size: 22px;
    }
}

@media only screen and (min-width: 1430px) {
    .conatiner-header {
        height: 290px;
    }
}

@media only screen and (min-width: 1530px) {
    .conatiner-header {
        height: 300px;
    }
}

@media only screen and (min-width: 1630px) {
    .conatiner-header {
        height: 310px;
    }
}

@media only screen and (min-width: 1730px) {
    .conatiner-header {
        height: 320px;
        margin-top: -480px;
    }
}

@media only screen and (min-width: 1800px) {
    
    .conatiner-header {
        height: 330px;
        margin-top: -490px;
    }

    .my-tech {
        font-size: 55px;
        margin-top: -28px;
    }

    .me {
        font-size: 55px;
        margin-top: 0;
    }
}


@media only screen and (max-width: 690px) {
    .conatiner-header {
        width: 600px;
    }

    .my-name {
        font-size: 40px;
    }

    .my-tech {
        font-size: 37px;
    }

    .me {
        font-size: 37px;
    }

}

@media only screen and (max-width: 630px) {
    .conatiner-header {
        width: 550px;
    }

    .my-name {
        font-size: 37px;
    }

    .my-tech {
        font-size: 34px;
    }

    .me {
        font-size: 34px;
    }
}

@media only screen and (max-width: 580px) {
    .conatiner-header {
        width: 500px;
        height: 260px;
        margin-top: -450px;
    }

    .my-name {
        font-size: 34px;
    }

    .my-tech {
        font-size: 31px;
    }

    .me {
        font-size: 31px;
    }

}

@media only screen and (max-width: 540px) {
    .conatiner-header {
        width: 450px;
    }

    .my-name {
        font-size: 31px;
    }

    .my-tech {
        font-size: 28px;
    }

    .me {
        font-size: 28px;
    }

}


@media only screen and (max-width: 470px) {
    .conatiner-header {
        width: 400px;
        height: 230px;
        margin-top: -435px;
    }

    .my-name {
        font-size: 26px;
    }

    .my-tech {
        font-size: 23px;
    }

    .me {
        font-size: 23px;
    }

    .btn-hire {
        font-size: 16px;
    }

    .btn-get-resume {
        font-size: 16px;
    }
}

@media only screen and (max-width: 430px) {
    .conatiner-header {
        width: 350px;
        height: 180px;
        margin-top: -410px;
    }

    .my-name {
        font-size: 20px;
    }

    .my-tech {
        font-size: 17px;
    }

    .me {
        font-size: 17px;
    }

    .btn-hire {
        width: 120px;
        font-size: 14px;
    }

    .btn-get-resume {
        width: 120px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 380px) {
    .conatiner-header {
        width: 300px;
        height: 160px;
        margin-top: -405px;
    }

    .btn-hire {
        width: 110px;
        font-size: 13px;
    }

    .btn-get-resume {
        width: 110px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 320px) {
    .conatiner-header {
        width: 270px;
        height: 120px;
        margin-top: -385px;
    }

    .my-name {
        font-size: 15px;
    }

    .me {
        font-size: 15px;
    }

    .my-tech {
        font-size: 12px;
    }

    .btn-hire {
        width: 100px;
        font-size: 12px;
    }

    .btn-get-resume {
        width: 100px;
        font-size: 12px;
    }

    .container-btns-header {
        gap: 20px;
    }
}