.card-project{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

*{
    -webkit-tap-highlight-color: transparent;
}

.img-project{
    width: 100%;
    border-radius: 10px;
    filter: blur(10px) brightness(40%);
    transition: 0.3s;
}

.img-project-unBlur{
   width: 100%;
    border-radius: 10px;
    filter: blur(0px) brightness(90%);
    transition: 0.3s;
}

.desc-project-card{
    font-family: Neo;
    color: white;
    font-size: calc(10px + 1vw);
    width: 90%;
    text-align: center;
    position: absolute;
    transition: 0.3s;
}

.desc-project-card-none{
    font-family: Neo;
    color: white;
    font-size: calc(10px + 1vw);
    width: 90%;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}