@media only screen and (max-width: 820px) {
    .card-project {
        width: 70vw;
    }

    .desc-project-card {
        font-size: calc(9px + 2vw);
    }

    .desc-project-card-none {
        font-size: calc(9px + 2vw);
    }
}

@media only screen and (max-width: 400px) {

    .desc-project-card {
        font-size: calc(7px + 2vw);
    }

    .desc-project-card-none {
        font-size: calc(7px + 2vw);
    }
}