.form-signin{
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 70%;
    align-items: center;
}

.inputs-signin{
    width: 70%;
    padding: 15px 0;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 20px;
    outline: none;
}

.inputs-signin::placeholder{
    color: rgb(194, 194, 194);
}

.btn-signin{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-signin:hover{
    background-color: white;
    color: black;
}