html {
    scroll-behavior: smooth;
}

.container-projects-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    justify-content: space-evenly;
    margin-top: 30px;
    row-gap: 60px;
}

*{
    -webkit-tap-highlight-color: transparent;
}

.title-projects{
    color: white;
    font-family: Neo;
    font-size: 40px;
    margin-top: 160px;
}