.container-about {
    width: 52vw;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 280px;
    border: 2px solid rgba(255, 255, 255, 0.158);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    position: absolute;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.img-iran {
    width: 650px;
    height: 650px;
    margin-top: 100px;
}

.my-name-about{
    color: white;
    font-family: Neo;
}

.container-texts{
    display: flex;
    flex-direction: column;
}

.texts-about{
    color: white;
    font-family: Neo;
    margin-top: 0;
    font-size: calc(3px + 1vw);
    display: flex;
    gap: 10px;
}

.circles-about{
    color: blueviolet;
}

.title-about{
    position: absolute;
    font-family: Neo;
    color: white;
    font-size: 40px;
}