/* 603F26 */

*{
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #7C00FE;
    background: linear-gradient(90deg,rgba(124, 0, 254, 1) 0%, rgba(0, 0, 0, 1) 35%);
}

.container {
    width: 95vw;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
}

.h1Riv {
    font-family: Riv;
    color: white;
}