*{
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.container {
    width: 95vw;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.h1Riv {
    font-family: Riv;
    color: white;
}