html {
    scroll-behavior: smooth;
}

.container-contact {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    position: absolute;
    margin-top: 150px;
    align-items: center;
    justify-items: center;
    background-image: url('/images/back.jpg');
    background-repeat: repeat-x;
    background-size: auto 150%;
    box-shadow: 0px -2px 11px 0px #3b23c9;
}

.container-contact-info {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.form-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.inputs-contact {
    width: 90%;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    outline: none;
    padding: 20px;
    font-size: calc(7px + 1vw);
    letter-spacing: 1px;
    border: 1px solid white;
}

.inputs-contact::placeholder {
    color: rgb(172, 172, 172);
}

.btn-contact {
    font-family: Neo;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    font-size: calc(8px + 1vw);
    width: 170px;
    padding: 13px 0px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-contact:hover {
    background-color: white;
    color: black;
}

.contact-ways {
    color: white;
    font-family: Neo;
    font-size: calc(10px + 3vw);
    text-align: center;
}

.desc-contact {
    color: white;
    font-family: Neo;
    font-size: calc(10px + 1vw);
    text-align: center;
}

.dark {
    width: 100%;
    height: 100vh;
    position: absolute;
    margin-top: 150px;
    box-shadow: 0px -3px 16px -2px #42329e;
}

.area{
    padding-bottom: 100px;
}

.socials{
    display: flex;
    justify-content: space-evenly;
}

.icons-socials{
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s;
}

.icons-socials:hover{
    transform: translateY(-5px);
}

.phone{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 0;
}

.phone-number{
    color: white;
    font-family: Neo;
    letter-spacing: 1px;
}

.link-messages{
    position: absolute;
    color: white;
    font-family: Neo;
    text-decoration: none;
    display: flex;
    align-self: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-top: -20px;
    align-items: center;
    gap: 8px;
}