@media only screen and (min-width: 1800px) {
    .inputs-contact {
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 950px) {
    .btn-contact {
        font-size: calc(10px + 1vw);
    }

    .inputs-contact {
        padding: 18px 20px;
    }

    .area{
        padding-bottom: 130px;
    }
}

@media only screen and (max-width: 820px) {
    .btn-contact {
        width: 140px;
    }
}

@media only screen and (max-width: 770px) {
    .inputs-contact {
        padding: 16px 20px;
    }

    .area{
        padding-bottom: 120px;
    }
}

@media only screen and (max-width: 700px) {
    .container-contact {
        grid-template-columns: repeat(1, 50%);
        justify-content: center;
        height: 700px;
    }

    .dark{
        height: 700px;
    }

    .contact-ways {
        font-size: calc(20px + 3vw);
    }

    .desc-contact {
        font-size: calc(13px + 1vw);
    }

    .container-contact-info {
        width: 150%;
    }

    .form-contact {
        width: 130%;
    }
    
    .inputs-contact{
        font-size: calc(10px + 1vw);
    }
    
}

@media only screen and (max-width: 480px) {
    .container-contact-info {
        width: 170%;
    }
}

@media only screen and (max-width: 480px) {
    .area{
        padding-bottom: 90px;
    }
}

@media only screen and (max-width: 403px) {
    .container-contact-info {
        width: 180%;
    }
}
@media only screen and (max-width: 374px) {
    .container-contact-info {
        width: 190%;
    }

    .area{
        padding-bottom: 70px;
    }
}