body{
    background-color: black;
    margin: 0;
}

.form-Signup{
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 20px;
}

.inputs-Signup{
    width: 70%;
    padding: 15px 0px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 20px;
    outline: none;
}

.inputs-Signup::placeholder{
    color: rgb(194, 194, 194);
}

.btn-Signup{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-Signup:hover{
    background-color: white;
    color: black;
}

.silk{
    width: 100%;
    position: absolute;
    display: flex;
    height: 100vh;
    justify-self: center;
    z-index: 1;
}

.title-Signup{
    color: white;
    font-size: 40px;
    font-family: Neo;
    margin-top: 0;
}

.text-Signup{
    font-family: Neo;
    font-size: calc(5px + 1vw);
    color: white;
}

.link-Signup{
    font-family: Neo;
    font-size: calc(5px + 1vw);
    color: gray;
    text-decoration: none;
}