.container-cards {
    width: 100%;
    background-color: #6F61C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-top: 17px;
    transition: 0.3s;
    cursor: pointer;
}

.container-cards:hover {
    transform: translateY(-10px);
}

.img-card-skill {
    border-radius: 200px;
    background-color: white;
    padding: 5px;
}

.title-card-skill {
    color: white;
    font-family: Neo;
    font-weight: 500;
}

.html {
    color: orangered;
}

.css {
    color: #264de4;
}

.js {
    color: #f7df1e;
}

.react {
    color: #61dafb;
}

.next {
    color: black;
}

.tailwind {
    color: #38bdf8;
}

.mongo {
    color: #47A248;
}

.node {
    color: #68A063;
}

.ex {
    color: 	#0075C9;
}