@media only screen and (min-width: 1400px){
    .nav-links{
        font-size: calc(8px + 1vw);
    }
}

@media only screen and (min-width: 1500px){
    .logo{
        font-size: calc(5px + 3vw);
    }
}

@media only screen and (max-width: 600px){
    .nav-links{
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px){
    .nav-links{
        font-size: 13px;
    }
}