.container-logo{
    display: flex;
    justify-self: center;
    margin-top: 10px;
}

.logo {
    color: white;
    font-size: 35px;
    cursor: pointer;
    margin-top: 0;
}

.container-links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: -20px;
    align-items: center;
}

.nav-links {
    font-size: calc(7px + 1vw);
    font-family: Neo;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: 300;
}

.nav-links:hover {
    transform: translateY(-5px);
}

.icon-user{
    color: white;
    font-size: 28px;
    cursor: pointer;
    margin-top: -10px;
}