.logo{
    color: white;
    font-size: 35px;
    cursor: pointer;
    margin-top: 0;
}

.container-links{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.nav-links{
    font-size: calc(7px + 1vw);
    font-family: Neo;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links:hover{
    transform: translateY(-5px);
}