.logo{
    color: white;
    font-size: 35px;
}

.container-links{
    display: flex;
    gap: 30px;
}

.nav-links{
    font-size: 18px;
    font-family: Neo;
    text-decoration: none;
    color: white;
}