body {
    background-color: black;
}

.container-messages {
    width: 100%;
}

.container-link-and-title-messages{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title-messages {
    color: white;
    font-family: Neo;
    font-size: 40px;
}

.link-to-home-messages {
    text-decoration: none;
    color: white;
    font-family: Neo;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    gap: 5px;
}

.messages-box {
    width: 100%;
    border-radius: 10px;
    padding: 10px 0px;
    border: 1px solid white;
    margin-top: 50px;
}

.titles-box{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
}

.user-name {
    color: gray;
    font-family: Neo;
    padding-left: 20px;
}

.username-user {
    color: gray;
    font-family: Neo;
    padding-left: 20px;
}

.message-body {
    color: gray;
    font-family: Neo;
    padding-left: 20px;
}

.date-message {
    color: gray;
    font-family: Neo;
    padding-left: 20px;
}

.icon-remove-messagee{
    color: orangered;
    font-size: 40px;
    padding-left: 20px;
    cursor: pointer;
}